{% extends "base.html" %}

{% block content %}
  <h3>Welcome to free-wiki!</h3>

  <p>A <a href="https://en.wikipedia.org/wiki/Wiki">wiki</a> is a website that
    allows users to directly edit its content and structure while in the
    browser. free-wiki is a very simple wiki - any page with the url</p>

  <p>&nbsp&nbsp&nbsp&nbsp<em>www.free-wiki.appspot.com/w/[name]</em></p>

  <p>where <em>[name]</em> consists of lower-case letters, digits, and dash
    symbol, may be created and edited using HTML with no restrictions. Users
    may view the complete history of each page and any version can be edited
    and restored at any time. All pages are listed in the index.</p>

  <p>The edit history of each user can be found at</p>

  <p>&nbsp&nbsp&nbsp&nbsp<em>www.free-wiki.appspot.com/u/[name]</em></p>

  <p>and all users are listed in the user index.</p>

  <p>To become a user and create or edit pages please
    <a href="/signup">signup</a> - your email address is not required.</p>
{% endblock %}
